{%extends 'all-news/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
    {% if article.artcle_image%}
     <img src="{{article.artcle_image.url}}"  class="img-responsive" alt="">
   </div>
   {% else %}
   <h3>this article has no image</h3>
   {% endif %}

   <div class="row">
     <h1 class="text-center">{{article.title}}</h1>
   </div>

   <div class="row">
     <p>{{article.post}}</p>
   </div>

   <div class="row">
     <p>Posted {{article.pub_date|timesince}} ago by {{article.editor.first_name}}</p>
   </div>

 </div>

 {% endblock %}